
  @font-face {
    font-family: Gilory, sans-serif;
    font-weight: bold;
    font-style: normal;
        src: url('/assets/fonts/Gilroy-Bold.ttf')format("truetype"),
  }

  @font-face {
    font-family: Gilory, sans-serif;
    font-weight: 800;
    font-style: normal;
        src: url('/assets/fonts/Gilroy-ExtraBold.ttf')format("truetype"),
  }
  @font-face {
    font-family: Gilory, sans-serif;
    font-weight: 600;
    font-style: normal;
        src: url('/assets/fonts/Gilroy-SemiBold.ttf')format("truetype"),
  }

  @font-face {
    font-family: 'proxima-nova', sans-serif;
    font-weight: regular;
    font-style: normal;
        src: url('/assets/fonts/FontsFree-Net-proxima_nova_reg-webfont.ttf')format("truetype"),
  }

